* {
  margin: 0px;
  text-align: center;
  font-family: 'Mulish', sans-serif; }

h1 {
  font-size: 30pt;
  padding: 10px; }

.active {
  background-color: #ced4da; }

body {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff; }

nav {
  background-color: #6c757d;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "companylogo menu"; }
  nav img {
    width: 250px;
    height: 40px; }

.menu {
  display: flex;
  flex-direction: row;
  margin: 0 auto; }
  .menu a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    display: block;
    padding: 13px 30px;
    border-radius: 4px; }
    .menu a:hover {
      background-color: #343a40;
      color: #ffffff; }

footer {
  background-color: #343a40;
  font-weight: bold;
  color: #ffffff;
  bottom: 0;
  width: 100%;
  margin-top: auto; }
  footer .endpage {
    margin: 10px; }
  footer img {
    width: 300px;
    height: 100px; }

.footmenu {
  padding: 10px; }
  .footmenu a {
    text-decoration: none;
    display: inline-block;
    padding: 12px 15px;
    border-radius: 4px;
    font-weight: bold;
    color: #ffffff; }
    .footmenu a:hover {
      background-color: #ced4da;
      color: #000000; }

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .social-media img {
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-top: 2px; }

.featured-design {
  margin-top: 45px;
  margin-bottom: 3%;
  padding: 10px; }
  .featured-design img {
    width: 250px;
    height: 250px;
    padding: 13px;
    border-radius: 40px; }

.our-stats {
  background-image: linear-gradient(#000000, #6c757d);
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .our-stats h2 {
    font-weight: bold;
    color: #ffffff;
    display: block;
    padding: 2rem;
    transition: .5s; }
    .our-stats h2:hover {
      font-size: 20pt;
      transition: .5s; }

.worked-us {
  background-color: #6c757d;
  color: #000000;
  padding: 5px; }
  .worked-us img {
    padding: 20px;
    width: 115px;
    height: 115px;
    transition: .5s; }
    .worked-us img:hover {
      width: 140px;
      height: 140px;
      transition: .5s; }
  .worked-us h2 {
    font-size: 23pt; }

.about-us {
  margin-top: 45px;
  margin-left: 22%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 13px 30px; }
  .about-us p {
    padding: 2.3%;
    font-size: 13pt; }

.our-services {
  margin-top: 30px;
  padding: 20px;
  transition: 1s; }
  .our-services img {
    width: 150px;
    height: 150px; }

.service {
  width: 50%;
  padding: 8px;
  display: flex;
  flex-direction: row;
  margin-left: 17.5%;
  transition: .5s; }
  .service:hover {
    background-color: #ced4da;
    border-radius: 25px;
    color: #000000;
    transition: .5s; }

.serviceI {
  float: right;
  width: 50%;
  padding: 8px;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 17.5%;
  transition: .5s; }
  .serviceI:hover {
    background-color: #ced4da;
    border-radius: 25px;
    color: #000000;
    transition: .5s; }

.description {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 13px 13px; }

.designs {
  margin-top: 45px; }

.gallery {
  display: grid;
  grid-template-areas: 'photo4 photo4 photo2 photo2' 'photo4 photo4 photo3 photo1';
  grid-template-columns: repeat(6, auto);
  align-content: stretch;
  gap: 10px;
  padding: 0.5vw;
  transition: 1.5s;
  /* Le aplica un efecto donde las imagenes aparecen y empiezan a achicarse hasta la posicion final */ }
  .gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000; }

.photo1 {
  grid-area: photo1;
  position: relative; }
  .photo1:hover .overlay {
    opacity: 0.75; }

.photo2 {
  grid-area: photo2;
  position: relative; }
  .photo2:hover .overlay {
    opacity: 0.75; }

.photo3 {
  grid-area: photo3;
  position: relative; }
  .photo3:hover .overlay {
    opacity: 0.75; }

.photo4 {
  grid-area: photo4;
  position: relative; }
  .photo4:hover .overlay {
    opacity: 0.75; }

.text {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.forms {
  margin-top: 45px;
  padding: 10px;
  justify-content: center; }
  .forms div {
    padding: 10px; }
  .forms textarea {
    width: 300px;
    height: 150px; }

.iframe {
  margin: 10px; }
  .iframe h2 {
    padding-bottom: 1.5%; }

@media screen and (max-width: 834px) {
  nav {
    display: flex;
    flex-direction: column; }
  .menu a {
    padding: 10px 20px;
    border-radius: 4px; }
  .featured-design {
    margin-top: 70px; }
  .about-us {
    margin-top: 70px; }
  .our-services {
    margin-top: 70px; }
  .service {
    margin: 0 auto;
    justify-content: center; }
  .serviceI {
    margin: 0 auto;
    float: unset;
    justify-content: center; }
  .designs {
    margin-top: 80px; }
  .gallery {
    display: flex;
    flex-direction: column; }
    .gallery div img {
      width: 75%;
      height: 75%; }
  .forms {
    margin-top: 70px; } }

@media screen and (max-width: 725px) {
  .service {
    width: 75%; }
  .serviceI {
    width: 75%; } }

@media screen and (max-width: 484px) {
  nav {
    position: unset; }
  .menu {
    flex-direction: column; }
  .featured-design {
    margin-top: unset; }
  .about-us {
    margin-top: unset;
    margin-left: 17.5%; }
    .about-us p {
      padding: 5px; }
  .our-services {
    margin-top: unset; }
  .service {
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 90%; }
  .serviceI {
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 90%; }
  .designs {
    margin-top: unset; }
  .forms {
    margin-top: unset; }
    .forms textarea {
      width: 250px; }
  .iframe iframe {
    width: 75%; } }

@media screen and (max-width: 320px) {
  h1 {
    font-size: 25pt;
    padding: 10px; }
  nav img {
    width: 80%;
    height: 30%; }
  .worked-us img {
    padding: 10px;
    width: 30%;
    height: 30%;
    transition: .5s; }
    .worked-us img:hover {
      padding: 10px;
      width: 35%;
      height: 35%;
      transition: .5s; }
  .featured-design img {
    width: 75%;
    height: 75%;
    padding: 4%;
    border-radius: 40px; }
  footer img {
    min-width: 100px;
    width: 80%;
    min-height: 50px;
    height: 80%; }
  .social-media img {
    min-width: 40px;
    min-height: 40px;
    margin: 5px; }
  .forms input {
    width: 75%; }
  .forms textarea {
    width: 75%; } }

@media screen and (max-width: 249px) {
  .social-media {
    display: flex;
    flex-direction: column;
    justify-content: center; } }
