.featured-design {
    margin-top: 45px;
    margin-bottom: 3%;
    padding: 10px;

    img {
        width: 250px;
        height: 250px;
        padding: 13px;
        border-radius: 40px;
    }
}

.our-stats{
    background-image: linear-gradient($black,$grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2{
        font-weight: bold;
        color: $white;
        display: block;
        padding: 2rem;
        transition: .5s;

        &:hover{
            font-size: 20pt;
            transition: .5s;
        }
    }
}

.worked-us {
    background-color: $grey;
    color: $black;
    padding: 5px;

    img {
        padding: 20px;
        width: 115px;
        height: 115px;
        transition: .5s;

        &:hover {
            width: 140px;
            height: 140px;
            transition: .5s;
        }
    }

    h2{
        font-size: 23pt;
    }
}