* {
    margin: 0px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}

h1 {
    font-size: 30pt;
    padding: 10px;
}

.active {
    background-color: $lightgrey;
}

body {
    min-height: 100vh;
    position: relative;
    @include flex-column;
    background-color: $black;
    color: $white;
}