nav {
    background-color: $grey;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "companylogo menu";

    img {
        width: 250px;
        height: 40px;
    }
}

.menu {
    @include flex-row;
    margin: 0 auto;

    a {
        text-decoration: none;
        font-weight: bold;
        color: $black;
        display: block;
        padding: 13px 30px;
        border-radius: 4px;

        &:hover {
            background-color: $darkgrey;
            color: $white;
        }
    }
}